.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-bottom: 200px;
    text-align: center;
    background-color: rgb(227, 227, 227);
    border: 2.5px solid black;
    box-shadow: 4px 4px black;
}

.btns {
    font-family: "lilita One";
    border: none;
    font-size: 19px;
    cursor: pointer;
    border-radius: 9px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    outline: 2px solid black;
    box-shadow: 4px 4px black;
}

.btns:hover {
    background-color: rgb(195, 195, 195);
    transition: 300ms;
}

.btns:active {
    box-shadow: 4px 4px black;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 300ms;
}

.inputs {
    font-family: "lilita One";
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 4px 4px rgb(168, 168, 168);
    border: 2px solid rgb(168, 168, 168);
    text-align: center;
}

.inputs:focus {
    transition: 300ms;
    box-shadow: 4px 4px black;
    border: 2px solid black;
}

.themes {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    border-radius: 100px;
    border: none;
}

