body {
    background-color: rgb(230, 230, 230);
    font-family: "lilita One";
    display: flex;
    flex-direction: column;
    align-items: center;
}

#randomChoicePicker {
    width: 320px;
    height: 230px;
}

#randomChoicePickerInput {
    width: 230px;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding: auto;
    max-width: 700px;
    padding-bottom: 10px;
}

.optionsBtn {
    text-align: center;
    width: 220px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
}

#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.temps {
    width: 100px;
    text-align: center;
}

.BTD {
    width: 150px;
    text-align: center;
}

#themeCard {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -30px;
}











